<a href="{{ path('admin_app_viaje_asientos', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Listado de Pasajes'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-list-alt"></i>
    Pasajes
</a>