
{% extends 'sitebase_landing.html.twig' %}

{% block body %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Bus Tickets</h1>
        <p class="splash-subhead">
            Administración de pasajes
        </p>
        <p>
            <a href="{{ path("login") }}" class="pure-button pure-button-primary">Acceder</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="footer l-box is-center">
        @alexbot
    </div>
</div>
{% endblock %}
