{% extends 'sitebase.html.twig' %}

{% block body_center %}
<h2>Hola! Vas a iniciar sesión en el sistema Bustickets, presiona el boton para confirmar.</h2>

<!-- for instance, use a form with hidden fields to
        create the POST request -->
<form action="{{ path('login_check') }}" method="POST">
    <input type="hidden" name="expires" value="{{ expires }}">
    <input type="hidden" name="user" value="{{ user }}">
    <input type="hidden" name="hash" value="{{ hash }}">

    <button type="submit">Continuar</button>
</form>
{% endblock %}
