{% if admin.hasAccess('create', object) and admin.hasRoute('create') %}
<a href="{{ admin.generateUrl('create', {clone_from_id: object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Duplicar'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-clone"></i>
    Duplicar
</a>
{% endif %}
