<a href="{{ path('admin_app_viaje_asientos', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Listado de Pasajes'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-filter" aria-hidden="true"></i>
    Pasajes
</a>