<a href="{{ admin.generateObjectUrl('asientos', object) }}" class="btn btn-sm btn-info view_link" title="{{ 'Ocupar Asiento'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-list-alt"></i>
    Asientos
</a>