{% if admin.showBtnBoletos %}
<a href="{{ path('admin_app_servicio_boleto_list', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Listar Boletos'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-list-alt"></i>
    Boletos
</a>
{% endif %}
