{% if admin.hasRoute('reserva') %}
<a href="{{ admin.generateObjectUrl('reserva', object) }}" class="btn btn-sm btn-success view_link" title="{{ 'Comprar pasaje'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-ticket-alt"></i>
    Comprar
</a>
{% endif %}
