{% if admin.hasRoute('reserva') %}
<a href="{{ admin.generateObjectUrl('reserva', object) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-list-alt"></i>
    Reserva
</a>
{% endif %}
