&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ path('admin_app_colectivo_asiento_list', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Listado de Asientos'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-list-alt"></i>
    Asientos
</a>